.middle-menu-games {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    top: 3em;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 9998;
}

.middle-menu-games > .content {
    width: 25%;
    height: 100%;
    display: table-cell;
}

.middle-menu-games > .content > .img-header {
    width:100%;
    height: auto;
    background-size: auto;
}

.middle-menu-games > .content > p {
    width: 80%;
    height: 18em;
    margin: auto;
    padding: 1em;
    font-size: 1em;
    color: #fff;
    text-align: center, justify;
}

.navigate-left,
.navigate-right { 
    width: 3.5em;
    height: 100%;
    position: absolute;
    transition: ease-in 0.3s;
}

.navigate-left {
    left: 0;
}

.navigate-right {
    right: 0;
}

.navigate-left > img,
.navigate-right > img {
    position: absolute;
    width: 100%;
    height: 4em;
    top: 50%;
    margin-top: -2em;
    cursor: pointer;
    opacity: 0.6;
    transition: ease-in 0.2s;
}

.navigate-left > img:hover,
.navigate-right > img:hover {
    opacity: 1;
}

.middle-menu-games::-webkit-scrollbar {
    width: 0.3em;
    border-radius: 3em;
}

.middle-menu-games::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(168,168,168,1);
}
 
.middle-menu-games::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  outline: 1px solid rgb(56,56,56);
}
