.footer {
    width: 100%;
    height: 4em;
    position: fixed;
    bottom: 0;
    flex: 0 1 auto;
}

.social-links {
    width: auto;
    height: auto;
    position: absolute;
    left: 1.6em;
}

.social-links > p {
    float: left;
    margin: 0.5em 0.2em;
}

.social-links > p > a {
    display: block;
    width: 2em;
    height: 2em;
    transition: ease-in 0.1s;
}

.social-links > p > a > img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.social-links > p > a:hover {
    transform-style: preserve-3d;
    transform: scale(1.2);
}

.footer-links {
    position: absolute;
    width: 20em;
    right: 0;
    text-align: center;
}

.footer-links > p {
    float: left;
    margin: 1em;
}

.footer-links > p > a {
    color: #F4F4F4;
    text-decoration: none;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    transition: ease-in 0.1s;
}

.footer-links > p > a:hover {
    color: #056585;
}