body {
    min-width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #2D882D;
}

.top-horizontal-bar {
    min-width: 100%;
    min-height: 4em;
    background-color: black;
    opacity: 0.6;
    position: fixed;
    z-index: 101;
}

.top-horizontal-bar > .back-icon {
    width: 2em;
    height: auto;
    background-size: cover;
    float: left;
    cursor: pointer;
}

.top-horizontal-bar > .menu-icon {
    width: 4em;
    height: 4em;
    float: right;
    background-size: cover;
    transition: ease-in 0.3s;
    cursor: pointer;
}

.top-horizontal-bar > .back-icon > a {
    display: inline-block;
    margin: 1em;
}

.top-horizontal-bar > .back-icon > a > img,
.top-horizontal-bar > .menu-icon > img{
    width: 2em;
    height: 2em;
}

.top-horizontal-bar > .menu-icon > img {
    margin: 1em;
}

.top-horizontal-bar > .menu-icon:hover {
    background-color: #54AA54;
}

.top-horizontal-bar > span {
    width: 3em;
    height: 1em;
    font-size: 1.2em;
    color: white;
    letter-spacing: 3px;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    opacity: 0.9;
    left: 50%;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    margin-left: -1.5em;
    position: absolute;
}

.menu-panel {
    width: 15em;
    height: 20em;
    position: absolute;
    right: 0;
    top: 4em;
    background-color: black;
    z-index: 999;
    opacity: 0.6;
}

.menu-panel > nav {
    height: 100%;
    width: 100%;
}

.menu-panel > nav > a {
    display: block;
    width: 73%;
    height: 2em;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
    text-align: center;
    line-height: 2em;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

.menu-panel > nav > a:hover {
    background-color: #54AA54;
    
}

/*
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
*/