.front-layer {
    width: 100%; 
    height: auto;
    position: absolute;
    z-index: -50;
    background-color: black;
    opacity: 0.3;
}

.middle {
    width: calc(100% - 13em);
    min-height: 100%;
    float: right;
}

.middle > section {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.middle > section:nth-of-type(2) {
    background-color: #FFFFFF;
    opacity: 0.7;
}

.middle > section:nth-of-type(3) {
    background-color: #006B43;
    opacity: 0.8;
}

.middle > #intro > .text {
    width: 90%;
    color: #FFFFFF;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    margin: 2em auto;
    display: block;
    padding: 2em;
}

.middle > #intro > .text > h1 {
    font-size: 5em;
    width: auto;
}

.middle > #intro > .option-buttons {
    width: 90%;
    color: #FFFFFF;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    margin: auto;
    display: block;
    padding: 2em;
}

.middle > #intro > .option-buttons > a {
    display: inline-block;
    width: 9em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    border-radius: 0.2em;
    border: 2px solid #00B5F1;
    transition: ease-in 0.2s;
    text-decoration: none;
    color: #FFFFFF;
}

.middle > #intro > .option-buttons > a:hover {
    background-color: #00B5F1;
    color: #FFFFFF;
}

.middle > #about-me > .text-content{
    height: auto;
    width: 90%;
    margin: 0 auto;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
    text-align: justify;
}

.middle > #about-me > .text-content > h1 {
    font-size: 3em;
}

.middle > #about-me > .text-content > p {
    font-size: 1em;
    line-height: 1.5em;
}

.middle > #about-me > .split-divs {
    width: 90%;
    height: 50%;
    margin: 0 auto;
}


.middle > #arts > .title-block {
    overflow: auto;
    width: 90%;
    height: 30%;
    margin: 0 auto;
    color: #FFFFFF;
    overflow: hidden;
}

.middle > #arts > hr {
    width: 90%;
}

.middle > #arts > .title-block > h1 {
    font-size: 2.5em;
}

.middle > #arts > .title-block > p {
    font-size: 1.5em;
    line-height: 1.3em;
}

.middle > #arts > .gallery {
    height: 67%;
    width: 100%;
}

.middle > #arts > .gallery > div {
    width: 30%;
    margin: 1em;
    height: 10em;
    float: left;
    
}

.background-img {
    background: no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
    z-index: -50;
    opacity: 0.5;
    min-height: 100%;
    min-width: 40px;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    /*animation: opacity 5s linear infinite alternate;*/
}

.panel {
    width: 40em;
    height: 30em;
    position: absolute;
    top: .5em;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    background-color: black;
    display: none;
    font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

.panel > .close-panel {
    width: 2em;
    height: 2em;
    float: right;
    background-size: cover;
    cursor: pointer;
    margin: 0.7em;
}

.panel > .panel-text {
    width: 100%;
    height: auto;
    float: right;
}

.panel >  h2 {
    width: 85%;
    height: auto;
    margin: 1em auto;
    color: #fff;
    font-size: 1.6em;
}

.panel > .panel-text > p {
    vertical-align: middle;
    width: 85%;
    height: 80%;
    margin: auto;
    text-align: center;
    color: #fff;
}

@keyframes slide {
    100% { left: -2000px; }
}
