body {
    width: 100%;
    height: auto;
    overflow-x: auto;
}

.top {
    width: 100%;
    height: 6em;
    display: table;
    table-layout: fixed;
}

.top-logo {
    width: 4em;
    height: 100%;
    background-color: plum;
    display: table-cell;
}

.top-nav-menu {
    width: 100%;
    max-width: 10em;
    height: 100%;
    background-color: #2D882D;
    display: table-cell;
}

.top-nav-menu > nav {
    display: table;
    height: 100%;
    border-spacing: 1.5em 0;
    border-collapse: collapse;
    margin: auto;
}

.top-nav-menu > nav > p {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
    font-size: 1em;
    transition-duration: 0.3s;
    padding: 0 2em;
}

.top-nav-menu > nav > p > a {
    text-decoration: none;
    color: black;
    padding: 0.2em;
    transition: ease 0.4s;
    opacity: 0.5;
}

.top-nav-menu > nav > p > a:hover {
    color: white;
    opacity: 1.0;
}

.top-resp-menu-icon {
    display: none;
}



