/* For tablets */
@media only screen and (max-width: 850px) {
    .middle-top {
        width: 100%;
    }
    
    .middle-top > div {
        width: 17em;
        height: 17em;
    }
    
    .middle-top > div > img {
        width: 10em;
        height: 10em;
    }
}


/* For phones */
@media only screen and (max-width: 480px) {
    .top {
        background-color: #da532c;
    }
    
    .top-nav-menu { 
        display: none;
    }
    
    .top-resp-menu-icon {
        width: 4em;
        height: 3em;
        background-color: #da532c;
        display: table;
        float: right;
    }
    
    .top-resp-menu-icon > img {
        width: 3em;
        height: 3em;
        cursor: pointer;
        display: table-cell; 
        margin: auto;
    }
    
    .middle-top > div {
        width: 20em;
        display: inline-block;
    }
    
    .middle-lower > div {
        width: 70%;
        height: auto;
        background-color:dimgrey;
        display: inline-block;
        position: relative;
        border: 2px solid black;
        margin: 2px auto;
    }
    
    .middle-lower > div > p {
        height: 10em;
        overflow-y: auto;
    }
    
    .lower-social-networks-logos {
        width: 10em;
        height: 7em;
        float:left;
        text-align: center;
        display: table;
    }
    
    .lower-right-links {
        width: 13em;
        height: 7em;
        float:left;
        display: table;
    }
}